html,body{
	height:95%;
	background: #AF2933;
	color:white;
}


#tetris{
	left:50%;
	top:50%;
	position: absolute;
	background: #4F1317;
	font-family: 'Comic Sans MS';
	z-index: 100;
}

#scene{
	height:100%;
	position: absolute;
	background: #ffffff;
}

#gameOver{
	height:100%;
	position: absolute;
	background:rgba(0,0,0,.75);
	z-index:999;
	color:#ffe100;
	text-align: center;
	display: none;
}

#gameOver h1{
	margin-top:50%;
}

#gameOver a,#gameOver a:visited{
	color:#66bc29;
	text-decoration: none;
}

#gameOver h3{
	color:orange;
}

#side{
	height:100%;
	position: absolute;
	top:0;
	right:0;
	text-align: center;
}

#info{
	width:120px;
	margin:0 auto;
}

#preview{
	width:80px;
	height:80px;
	background: #141317;
	margin:10px auto;
}

#levelInfo{
	color:#EABD4C;
	font-size:18px;
	margin:10px 0;
}
#level{
	color:white;
	font-size:32px;
}

#scoreInfo{
	color:#EABD4C;
	font-size: 18px;
	margin-top:0;
}

#score{
	color:white;
	font-family: 'Chalkboard SE';
}

#rewardInfo{
	color:yellow;
	font-weight: bold;
	height:20px;
}





.invisible{
	visibility: hidden;
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}


#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
